/opt/GsDevKit_home/server/stones/{{stoneName}}/logs/seaside*.log {
	copytruncate
	daily
	missingok
	rotate 7
	compress
	delaycompress
}

/opt/GsDevKit_home/server/stones/{{stoneName}}/logs/SeasideMaintenanceVM*.log {
	copytruncate
	daily
	missingok
	rotate 7
	compress
	delaycompress
}

/opt/GsDevKit_home/server/stones/{{stoneName}}/logs/{{stoneName}}.log {
	copytruncate
	daily
	missingok
	rotate 7
	compress
	delaycompress
}

/var/log/peerjs.log {
	copytruncate
	daily
	missingok
	rotate 3
	compress
	delaycompress
}

/var/log/turnserver.log {
	copytruncate
	daily
	missingok
	rotate 3
	compress
	delaycompress
}

/var/log/talkmaster.log {
	copytruncate
	daily
	missingok
	rotate 3
	compress
	delaycompress
}