| db |

"Update trigger of the app"
VIAApplicationManager current
	update;
	afterDeployment.

db := VIADatabase current.

"Ensure configuration"
db
	propertyAt: #turnServerSecret put: '{{via.turnServer.secret}}';
	propertyAt: #serverAddress put: '{{via.serverAddress}}'.

{% include 'configuration.st.j2' %}

"Enable/Disable seaside development tools"
(WAAdmin respondsTo: #developmentToolsEnabled) ifTrue: [
	VIAApplicationManager removeDevelopmentSeasideComponents.

{% if via.isBeta %}
	WAAdmin developmentToolsEnabled ifFalse: [ WAAdmin enableDevelopmentTools ].
{% else %}
	WAAdmin developmentToolsEnabled ifTrue: [ WAAdmin disableDevelopmentTools ].
{% endif %}
].
