server {

		{% include 'listen_port.j2' %}

    server_name .*;

    root {{via.installationPath}}/via_base/web_root;

    location ~* \.(jpg|svg|css|png)$  {
        try_files $uri =404;
    }

    location / {
        return 503;
    }

		{% include 'error_handling.j2' %}
        
}
