#
# standard gem.conf file for dev kit gems
# Modified for VIA
#

# SHR_PAGE_CACHE_SIZE_KB should always be > GEM_TEMPOBJ_CACHE_SIZE
# Problems with limited license key. Could not get 2G of shared. SHR_PAGE_CACHE_SIZE_KB = 2000000;
{% if via.gemStone.keyfile is defined %}
KEYFILE = {{via.installationPath}}/install/gemstone.key;
SHR_PAGE_CACHE_SIZE_KB = 2GB;
GEM_TEMPOBJ_CACHE_SIZE = 300MB;
{% else %}
SHR_PAGE_CACHE_SIZE_KB = 1GB;
GEM_TEMPOBJ_CACHE_SIZE = 300MB;
{% endif %}

STN_TRAN_FULL_LOGGING = TRUE;
STN_TRAN_LOG_DIRECTORIES = $GEMSTONE_TRANLOGDIR/, $GEMSTONE_TRANLOGDIR/;
STN_TRAN_LOG_SIZES = 100, 100;

# Some regular expressions take 2 levels per character. So we assume texts up to 2500 characters and need 5000 depth
# default would be 1000, has been proven to be to low.
GEM_MAX_SMALLTALK_STACK_DEPTH = 5000;